<nav class="navbar">
    <div class="navbar-brand">
        <a href="{{ path('home') }}">
            <img src="{{ asset('image/logo.png') }}" alt="Logo" />
        </a>
        <h3>Bucket List</h3>
    </div>
    <div class="navbar-menu">
        <a href="{{ path('home') }}" class="navbar-item">Home</a>
        <a href="{{ path('app_wish_list') }}" class="navbar-item">All Wishes</a>
        <a href="{{ path('app_wishapp_wish_newwish') }}" class="navbar-item">Add your wish</a>
        <a href="{{ path('aboutus') }}" class="navbar-item">About Us</a>
        <a href="{{ path('app_logout') }}" class="navbar-item">Logout</a>
    </div>
</nav>
